*{
    color: orange;
}
body{
    margin: 0;
    background-color: darkblue;
}

header{
    display: flex;
    justify-content: center;
    height:fit-content;
    background: linear-gradient(black, black, transparent);
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(transparent, black, black);
}

header a, ul a{
    font-size: 2em;
    display: block;
    padding: 5px;
    margin:3px 2em;
    background-color: transparent;
    border-radius: 0px;
    transition: color 1s, background-color 1s, border-radius 2s;
}

header a:hover, ul a:hover{
    color:darkorange;
    background-color: #ffffff50;
    border-radius:15px;
}